In [ ]:
import pandas as pd
import numpy as np
import tiktoken

In [ ]:
comments_path = '/home/aidin/code/queraDataScience/Regression_and_DataAnalysis/selected_comments.csv'
comments_df = pd.read_csv(comments_path)

In [ ]:
comments_df.head()

,Unnamed: 0,id,title,body,created_at,rate,recommendation_status,is_buyer,product_id,advantages,disadvantages,likes,dislikes,seller_title,seller_code,true_to_size_rate
0,335,45477072,NaN,شعر های زیبای دارد\n,19 بهمن 1401,5.0,recommended,True,239480,NaN,NaN,0,0,فروشگاه طنزدونی,C5DTP,NaN
1,377,30411578,عالی خوبه من از خرید کتاب راضی بودم و پسرم است...,خوبه من از خرید کتاب راضی بودم و پسرم استفاده ...,30 دی 1400,0.0,recommended,True,1824188,NaN,NaN,0,0,آوای کتاب خوب,DZ3NU,NaN
2,379,27730079,NaN,عالی و یتورر,29 آبان 1400,0.0,no_idea,True,2554977,NaN,NaN,0,0,روزکتاب,D4ZCR,NaN
3,396,8831744,مائده های زمینی,کتاب عالی و پر مغزیست,7 خرداد 1399,0.0,recommended,True,37974,NaN,NaN,0,0,کتابکالا,A5659,NaN
4,405,40140723,NaN,حتما بخونید دیدتون وسیعتر میشه,13 مهر 1401,5.0,NaN,True,3998728,NaN,NaN,1,0,آی بولک,CUYAG,NaN

In [ ]:
def estimate_tokens(paragraph):
    enc = tiktoken.get_encoding("cl100k_base")
    return len(enc.encode(paragraph))

# Calculate tokens for each paragraph
comments_df['tokens_count'] = comments_df['body'].apply(estimate_tokens)  # Update 'paragraph_column' with the correct column name

# Calculate the total number of tokens
body_total_tokens = comments_df['tokens_count'].sum()

# OpenAI pricing for GPT-3.5
COST_PER_1M_TOKEN = 0.5
total_cost_to_summerize = (body_total_tokens / 1000000) * COST_PER_1M_TOKEN

print(f'Total number of tokens: {body_total_tokens}')
print(f'Total cost for summarizing the dataset: ${total_cost_to_summerize:.2f}')

Total number of tokens: 4042930
Total cost for summarizing the dataset: $2.02

In [ ]:
title_tokens = comments_df['title'].dropna().apply(estimate_tokens).sum()
n_product = comments_df['product_id'].nunique()
# suppose that every summarization has 100 tokens
TOKEN_PER_PRODUCT = 100
body_tokens = n_product * TOKEN_PER_PRODUCT
embedding_total_tokens = body_tokens + title_tokens

EMBEDDING_COST_PER_1M_TOKEN_SMALL = 0.02
EMBEDDING_COST_PER_1M_TOKEN_LARGE = 0.13
total_cost_to_embedding_small = (embedding_total_tokens / 1000000) * EMBEDDING_COST_PER_1M_TOKEN_SMALL
total_cost_to_embedding_large = (embedding_total_tokens / 1000000) * EMBEDDING_COST_PER_1M_TOKEN_LARGE

print(f'Total number of tokens: {embedding_total_tokens}')
print(f'Total cost for embedding the dataset with small model: ${total_cost_to_embedding_small:.2f}')
print(f'Total cost for embedding the dataset with large model: ${total_cost_to_embedding_large:.2f}')

Total number of tokens: 551666
Total cost for summarizing the dataset with small model: $0.01
Total cost for summarizing the dataset with large model: $0.07